.rowSelected {
  background-color: var(--mantine-color-blue-light);
}

.flexTable {
  justify-content: center;
  user-select: none;
}

.mantine-Table-table {
  width: auto;
}

.neo-pixel-table-palette-status, .split-button {
  padding: 0;
}
